# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build
        run: |
          xcodebuild \
          -project Shema.xcodeproj \
          -scheme Shema \ 
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 15' \
          build
      - name: Run tests
        run: |
          xcodebuild \
          -project Shema.xcodeproj \
          -scheme Shema \ 
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 15' \
          test
